/* -------auth------- */

    /* login container */

    .Container{
        width: cover;
        height: 80vh;
        padding: 20px;
        gap: 20px;
        align-items: center;
        background: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2)
          ),
          url("https://thumbs.dreamstime.com/z/cooking-banner-background-spices-vegetables-top-view-cooking-banner-background-spices-vegetables-top-view-free-168096882.jpg")
          /* url("https://cdn8.dissolve.com/p/D2115_120_316/D2115_120_316_1200.jpg") */
            center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .Container .wrapper{
        width: 25%;
        padding: 20px;
        background-color: transparent;
    }
    
    /* .wrapper div {
      display: inline-block;
      vertical-align: top;
    } */

    .Container .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    .Container h1{
        font-size: 24px;
        font-weight:700;
        color: var(--teal);
        margin-bottom: 20px;
    }
    
    .Form{
        display: flex;
        flex-direction: column;
    }
    
    .Container input{
        flex: 1;
        min-width: 40%;
        margin: 5px 0;
        padding: 10px;
        background-color: transparent;
    }
    
    .Container .button{
        width: 40%;
        border: none;
        padding: 15px 20px;
        background-color: #008080;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    .Container  a {
        margin: 5px 0px;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
        color: teal;
    }
    
    .Container .button:hover {
        background-color: #067a65;
      }

    /* validate forms*/
    .error {
        color: red;
        margin-left: 10px;
      }
      .valid {
        color: green;
        margin-left: 10px;
      }